.nav {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #000000;
  box-shadow: -1px 1px 7px #63fb5285;
  &__container {
    height: 100%;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    &__logo {
      display: flex;
      align-items: center;
      font-family: Monoton;
      font-size: 38px;
      color: #63fb52;
    }
    &__list {
      height: 100%;
      display: flex;
      align-items: center;
      &__item {
        display: inline-block;
        a {
          text-decoration: none;
          color: #ffffff;
          font-size: 16px;
          font-weight: bold;
          padding: 0px 10px;
        }
        a:hover {
          color: #63fb52;
        }
      }
    }
    &__menu-hamburger {
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #ffffff;
      i {
        font-size: 30px;
      }
    }
  }
}



@media (max-width: 870px) {
  .nav {
    &__container {
      width: 100%;
      padding: 0 20px;
      justify-content: space-between;
      &__list {
        display: none;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        height: auto;
        background-color: #000000;
        padding: 30px 0px 30px 0;
        &__item {
          text-align: center;
        }
      }
      &__menu-hamburger {
        display: flex;
    
      }
      .active {
        display: flex;
        border: 1px solid #63fb52;
      }
    }
  }
}