* {
    overflow: auto;
}
body {
    background-color : #eab676;
    font-family: arial;
    margin: 0px;
}
p.categorie {
    background-color : black;
    color: white;
    display: inline-block;
    margin-top: -18px;
    margin-bottom: 0px;
    padding: 10px 18px;
    font-weight: bold;
    font-size: 16px;

}
div.contenu {
    background-color: white;
    padding: 0px 8px 20px 8px;
    margin: 40px 8px 40px 8px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    overflow: visible;
}
h1 {
    text-align: center;
}
p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
div.centre {
    text-align: center;

}
div.categorie {
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible

}
div.separateur {
    width: 150px;
    height: 2px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}
div.info {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
   

}
img.info {
    min-height: 200px;
    background-color: lightgrey; 
}
table.info {
    position: absolute; 
    bottom:0; 
    width: 100%; 
    color: white;
    background-color: #5f3b2ec0;   
  
    
}
table.info td {
    text-align: center;
    font-size: 10px;
}
table.info th {
    text-align: center;
    font-size: 12px;
    vertical-align: bottom;
}
div.colonne {
    width: 100%
}
div.colonne1 {
    display: inline-block;
}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 3px solid #5f3b2ec0;
    padding: 5px;
}
div.ingredients p {
    border: 1px solid #00000050;
    text-align: center;
    padding: 10px;
    margin: 8px;
}
table.preparation p.numero {
    background-color: #5f3b2ee0;
    color: white;
    width: 25px;
    text-align: center;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation td {
    vertical-align: top;
}
table.preparation tr {
    height: 56px;
}

/* Style pour ordinateur */

@media only screen and (min-width: 768px) {
    div.contenu {
        padding: 0px 40px 40px 40px;
        margin: 60px 5% 50px 5%;
        min-width: 450px;
    }
    table.info {
        padding: 2px;
    }
    table.info td {
        font-size: 12px;
    }
    table.info th {
        font-size: 14px;
    }
    div.colonne {
        width: 45% 
    }
    div.colonne1 {
        margin-right: 10%;
    }
    div.colonne2 {
        float: right;
    }
}
@media only screen and (min-width: 900px) {
    div.contenu {
        padding: 0px 40px 40px 40px;
        margin: 60px auto 50px auto;
        width: 713px;
    }
   
}

