*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    letter-spacing: 1px;
    width: 100vw;
}


/*** Navigation ***/

nav {
    z-index: 9999;
    width:100%;
    height: 70px;
    background: #ffffff;
    position: fixed;
}
.logo-wix {
    width: 75px;
    position: absolute;
    top: 20px;
    margin: 0 25px;
}
.menu-hamburger {
    display: none;
}
.item-nav {
    display: inline-block;
    line-height: 70px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 15px;
    color:    #424242;
}
.item-nav:nth-child(1) {
    margin-left: 150px;
}
.item-nav:nth-child(5) {
    cursor:auto;
}
.item-nav i {
    position: absolute;
    top: 31px;
    margin-left: 6px;
    font-size: 12px;
}
nav .line {
    position: relative;
    width: 1px;
    height: 25px;
    background: #aaaaaa;
    top: 7px;
    left: 7px;
}
.item-nav:hover {
    color:  #116dff;
}
.btn-connect {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 50px;
    border-radius: 9999px;
    border: 1px solid  #116dff;
    background-color: #ffffff;
    color: #116dff;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-connect:hover {
    color: #ffffff;
    background-color:#116dff;
}

@media screen and (max-width: 1300px) {
    .logo-wix {
        width: 60px;
        top: 22px;
        margin: 0 15px;
    }
    .item-nav {
        line-height: 70px;
        margin: 0 12px;
    }
    .item-nav:nth-child(1) {
        margin-left: 100px;
    }
}
@media screen and (max-width: 1120px) {
    .btn-connect {
       display: none
    }
    .menu-hamburger {
        display: block;
        position: absolute;
        font-size: 30px;
        top: 18px;
        right: 20px;
        cursor: pointer;
    }
    .item-nav {
        display: block;
        background: #ffffff;
        width: 100%;
        border-top: 1px solid #aaa ;
        margin-left: 0;
        text-align: center;
    }
    .line {
        display: none;
    }
    .item-nav:nth-child(1) {
        margin-top: 70px;
        margin-left: 0;
    }
    .item-nav:nth-child(8) {
        border-bottom: 3px solid #333;
    }
    .item-nav i {
        display: none;
    }
    .item-nav line {
        display: none;
    }
    .item-nav:nth-child(odd) {
        background: #eeeeee;
    }
    .liste-nav {
        display: none;
    } 
    .liste-nav.active-menu {
        display: block;
    }

    
}

/*** banderole ukraine ***/

.ukraine {
    display: inline-block;
    margin-top: 70px;
    width: 100%;
    height:90px;
    background: #1c2860;
}
.ukraine p {
    line-height: 90px;
    color:#ffffff;
    text-align: center;
    font-size: 20px;
    
}
.ukraine p a {
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    
    
}
.ukraine p a span {
    border-bottom: 2px solid #ffffff;
}
.ukraine img {
   position: relative;
   right: 9px;
   top: 6px;
}

@media screen and (max-width: 1120px) {
    .ukraine p {
        width: 500px;
        margin: 12px auto;
        line-height: 20px;

    }
}
@media screen and (max-width: 500px) {
    .ukraine p {
        width: 320px;
       font-size: 14px;

    }

}

/*** firstpage ***/

.firstpage {
    width: 100%;
    height: 1200px;
    background: #e7e7e7;
}
.firstpage-titre {
    font-size: 100px;
    text-align: center;
    padding-top: 70px;
    max-width: 1600px;
    margin: 0 auto;
}
.firstpage-txt-1 {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    max-width: 550px;
    margin: 0 auto;
    padding-top: 30px;
}
.btn-parti {
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    width: 250px;
    border-radius: 9999px;
    border: none;
    background: #116dff;
    color: #ffffff;
    font-size: 23px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}
.btn-parti:hover {
    background: #2d7cfc;
}
.firstpage-txt-2 {
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    margin: 0 auto;
    padding-top: 70px;
}
.firstpage img {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    
}

@media screen and (max-width: 1400px) {
    .firstpage img {
        width: 1000px;
    }
    .firstpage {
        height: 1100px;
    }
}
@media screen and (max-width: 1300px) {
    .firstpage-titre {
        font-size: 80px;
    }
    .firstpage {
        height: 1050px;
    }
}
@media screen and (max-width: 1100px) {
    .firstpage img {
        width: 800px;
    }
    .firstpage {
        height: 900px;
    }
}
@media screen and (max-width: 950px) {
    .firstpage-titre {
        font-size: 60px;
    }
}
@media screen and (max-width: 800px) {
    .firstpage img {
        width: 600px;
    }
    .firstpage {
        height: 800px;
    }
}
@media screen and (max-width: 700px) {
    .firstpage-titre {
        font-size: 40px;
    }
    .firstpage-txt-1 {
        font-size: 15px;
    }
    .firstpage {
        height: 700px;
    }
    .firstpage-txt-2 {
        font-size: 13px;
    }
}
@media screen and (max-width: 600px) {
    .firstpage img {
        width: 400px;
    }
    .firstpage {
        height: 600px;
    }
}
@media screen and (max-width: 440px) {
    .firstpage {
        height: 650px;
    }
}
@media screen and (max-width: 420px) {
    .firstpage img {
        width: 250px;
    }
}


/*** section explain ***/

.explain {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 450px 1100px;
}

/* banderole bleu */ 

.blue-banderole-left {
    grid-area : 1 / 1 / 2 / 2 ;
    background: rgba(20,52,142,255);
    color: #ffffff;
}
.blue-banderole-left h2{
   font-size: 50px;
    width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blue-banderole-right {
    grid-area: 1 / 2 / 2 / 3;
    background: rgba(20,52,142,255);
    color: #ffffff;
}
.blue-banderole-right .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}
.blue-banderole-right p {
    width: 500px;
    font-size: 20px;
    line-height: 35px;
}
.blue-banderole-right a {
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}   
.blue-banderole-right a span {
    border-bottom: 2px solid #f1f1f1;
} 

/* green square */

.green-square {
    grid-area: 2 / 1 / 3 / 2 ;
    background: #035946;
    color: #ffffff;
    position: relative;

}
.green-titre {
    width: 500px;
    position: absolute;
    margin: 80px 0;
    left: 50%;
    transform: translate(-50%, 0);
   
    
}
.green-titre h2 {
    margin-top: 30px;
   font-size: 50px;
   margin-bottom: 20px;
}
.green-titre p {
    font-size: 19px;
}
.container-green-flex {
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 650px;
    height: 50%;
    margin: 350px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.green-flex {
    
    width: 270px;
    height: 300px;
    line-height: 25px;
    font-size: 15px;
    border-top: 2px solid #ffffff;
}
.green-flex h3 {
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 25px;
    
}
.green-create {
    width: 250px;
    height: auto;
    position: absolute;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0);

}
.green-square a {
   
    text-decoration: none;
    color: #f1f1f1;
    font-size: 28px;
    
}
.green-square a span {
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
}


/* clear space */

.clear-space {
    grid-area: 2 / 2 / 3 / 3;
   position: relative;
}
.white-rectangle {
    height: 50%;
    background:#f5f5f5;
}
.grey-rectangle {
    height: 50%;
    background: #eeeeee;
}
.clear-space img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    .explain {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px 500px 950px;
    }
    .blue-banderole-left {
        grid-area : 1 / 1 / 2 / 2 ;
      
    }
    .blue-banderole-right {
        grid-area: 2 / 1 / 3 / 2;
    }
    .green-square {
        grid-area: 4 / 1 / 5 / 2 ;
       
    }.clear-space {
        grid-area: 3 / 1 / 4 / 2;
       
    }
    .blue-banderole-right p {
        margin-top: -60px;
    }
    .blue-banderole-right a {
        position: relative;
        top: 20px;
    }
    .green-flex:nth-child(3), .green-flex:nth-child(4) {
        top: -50px;
        position: relative
    }
    .green-titre {
        top: -30px;
    }
    .container-green-flex {
        top: -50px;
    }
    
}
@media screen and (max-width: 750px) {

    .explain {
        grid-template-rows: 250px 250px 500px 1500px;
    }
    .container-green-flex {
        width: 320px;
    }
    .green-titre h2, .green-titre p{
        text-align: center;
    }
    .green-flex {
        height: 230px;
    }
    .green-create {
        display: relative;
        margin-bottom: 0px;
        transform: translate(-50%, 220%);
    }
   .green-flex:nth-child(3), .green-flex:nth-child(4) {
        top: 0px;
       
    }
    .clear-space img {
        width: 400px;
    }
    
}
@media screen and (max-width: 500px) {
    .blue-banderole-left h2{
        font-size: 30px;
        width: 100%;
        text-align: center;
        
     }
     .blue-banderole-right .content {
         position: relative;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
     }
     .blue-banderole-right p {
         width: 100%;
         font-size: 14px;
         line-height: 30px;
         text-align: center;
     }
     .blue-banderole-right {
        position: relative;
     }
     .blue-banderole-right a {
       position: absolute;
        left: 50%;
        top: 130%;
        transform: translate(-50%, 0);
        width: 155px;
        font-size: 20px;
        
     }
     .green-titre h2{
       font-size: 35px;    
    }
    .green-titre p {
        font-size: 14px;
        margin-top: 50px;
    }
    .green-titre {
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
   .clear-space img {
     width: 300px;
   }
   .explain {
    grid-template-rows: 250px 250px 300px 1500px;
}
    
}
/*** section template ***/

.template-perso {
    width: 100%;
    height: 1150px;
    background:  #f4f4f4;
    position: relative;
}

/* text */ 

.template-txt {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 0);
    width:100%;
}
.template-txt h2 {
    font-size: 45px;
    text-align: center;
}
.template-txt p {
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    line-height: 30px
}
.template-txt  a {
    text-decoration: none;
    color: #000000;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, 0);
    font-size: 22px;
    font-weight: bold;

}
.template-txt a span {
    border-bottom: 2px solid;
}
 
/* template flex */

.container-template-flex {
    position: absolute;
    width: 1050px;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.template-flex {
    width: 325px;
    height: 300px;
    
}
.template-flex p {
    text-align: center;
    margin: 30px 0 0 0;
    font-weight: bold;
    font-size: 15px;
}
.template-flex img {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .template-txt h2 {
        margin-top: -60px;
    }
    .container-template-flex {
        top: 52%;
        width: 700px;
    }
    .template-flex {
        margin: 0 auto;
    }
    .template-perso {
        height: 1400px;

    }
}
@media screen and (max-width: 720px) {
    .template-txt h2 {
        margin-top: -250px;
    }
    .template-txt p {
        font-size: 15px;
    }
    .container-template-flex {
        top: 30%;
        width: 400px;
    }
    .template-perso {
        height: 2200px;

    }
    .template-txt a {
       width: 300px;
    }
}
@media screen and (max-width : 500px) {
    .template-perso {
        height: 2300px;
        width: 100%;
    }
    .template-flex {
        width: 100%;
    } 
    .template-perso h2 {
        font-size: 30px;
        margin: -190px auto 0 auto;
        width: 300px
    }
    .template-perso p {
        font-size: 14px;
        width: 320px;
        margin: 20px auto 0 auto;
    }
    .container-template-flex {
        top: 780px;
        width: 100%;
    }
    .container-template-flex img {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
@media screen and (max-width: 400px) {
    .template-perso {
        height: 2200px;
    }
    .template-perso h2 {
        font-size: 30px;
        margin-top: -240px
    }
    .template-perso p {
        font-size: 14px;
        width: 320px;
        margin: 20px auto;
    }
    .template-perso img {
        width: 290px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .template-flex {
       width: 100%
        
    }
    .container-template-flex {
        top: 32%;
        
    }
}

/*** section editeur ***/ 

.editeur {
    height: 2000px;
    background: #ffffff;
    position: relative;
   
}
.container-editeur {
    height: 100%;
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.editeur-item {
    width: 480px;
    height: 600px;
    margin-top: 110px;
}
.editeur-item h2 {
    font-size: 40px;
    margin-top: 30px;
}
.editeur-item p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.editeur-item a {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
}
.editeur-item span {
    border-bottom: 2px solid #000000;
}

@media screen and (max-width: 1200px) {
    .editeur {
        height: 3500px;
    }
    .container-editeur {
        width: 500px;
       position: relative;
       top: 150px;
    }
    .editeur-item-1 {
        order: 1;
    }
    .editeur-item-2 {
        order: 2;
    }
    .editeur-item-3 {
        order: 3;
    }
    .editeur-item-4 {
        order: 5;
    }
    .editeur-item-5 {
        order: 4;
    }
    .editeur-item-6 {
        order: 6;
    }
    .editeur-item {
        margin-top: -50px;
        
    }
    .editeur-item img {
        margin-top: 30px;
    }
}
@media screen and (max-width: 650px) {
    .editeur-item {
        text-align: center;
    }
    .container-editeur .editeur-item img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
}
@media screen and (max-width: 500px) {
    .editeur {
        height: 3500px;
    }
    .container-editeur {
        width: 300px;
        height: 2500px;
    }
    .editeur-item {
        width: 100%;
    }
    .editeur-item img {
        width: 100%
    }
    .editeur-item-1 {
        margin-top: -100px;
        height: 450px;
    }
    .editeur-item-3 {
        margin-top: 150px;
    }
    .editeur-item-4 {
        margin-top: 10px;
    }
    .editeur-item-5 {
        height: 350px;
        margin-top: 230px;
    }
    .editeur-item-6 {
        height: 350px;
        margin-top: 250px;
        z-index: 1;
    }
    .editeur h2 {
        font-size: 35px;
    }

}


/*** Section asym ***/

.devtool {
    
    width: 100%;
    height: 2300px;
    background: #ffffff;
    position: relative;

}
.devtool-container {
    width: 1050px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1700px
}

/* text */

.devtool-txt-before p {
    font-size: 18px;
    font-weight: 600;
}
.devtool-line {
    height: 1px;
    width: 350px;
    background: #000000;
    position: absolute;
    right: 0px;
    top: 11px;
    
}
.devtool-txt h2 {
    margin-top: 60px;
    font-size: 50px;
   
}

/* asym */

.devtool-container-asym {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 120px;;
}
.asym-item .item-right {
    margin-top: 120px;
 
}
.asym-item:nth-child(1) img {
    position:relative;
    right: 5px
}
.asym-item:nth-child(3) img {
    position:relative;
    right: 40px
}
.asym-item:nth-child(5) img {
    position:relative;
    right: 20px
}

/* asym text */

.asym-item h3 {
    margin-top: 25px;
}
.asym-item p {
    margin-top: 15px;
    width: 350px;
    line-height: 25px;
}
.asym-item a {
    color:#116dff;
    text-decoration: none;
    
}
.pos-a {
    position: relative;
    top: 15px
}
.asym-item .line {
    background: #116dff;
    height: 18px;
    width: 1px;
    position: relative;
    top: 4px;
}
.liste-lien {
    margin-top: 15px;
}
.asym-item .liste-lien li {
    display: inline-block;
    margin-right: 10px;
}

@media screen and (max-width: 1200px) {
    .devtool {
        margin-top: -50px;
        height: 3350px;
    }
    .devtool-container {
        width: 500px;
        top: 26%;
    }
    .devtool-txt {
        margin-top: 100px;
        height: 500px;
    }
    .devtool-txt-before  {
        margin-top: 50px;
    }
    .devtool-txt-before p {
        text-align: center;
        margin-bottom: 20px;
    }
    .devtool-txt h2 {
        margin-top: 100px ;
        
    }
    .devtool-line {
        position: absolute;
        top: 50px;
        width: 100%
    }
    .devtool-container-asym {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        position: absolute;
        top: 300px;
        margin-top: 250px;
    }
    .asym-item:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .asym-item:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }
    .asym-item:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
        margin-top: 50px;
    }
    .asym-item:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
    }
    .asym-item:nth-child(5) {
        grid-area: 5 / 1 / 6 / 2;
        margin-top: 50px;
    }
    .asym-item:nth-child(6) {
        grid-area: 6 / 1 / 7 / 2;
        margin-top: -50px;
    }
    .item-right:nth-child(1) img {
        margin-top: -80px;
    
    }
    .asym-item:nth-child(1) h3 {
        margin-top: 5px;
    }
    .asym-item:nth-child(5) img {
        margin-top: 15px;
    }
    .asym-item:nth-child(6) img{
        
        margin-top: 0px;
    }
    .devtool-txt h2 {
        margin-top: 0px;
        text-align: center;
    }
    .asym-item img {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .asym-item p {
        margin: 0 auto;
        text-align: center;
        margin-top: 5px;
    }
    .liste-lien {
        text-align: center;
    }
    .asym-item a {
        text-align: center;
        margin-right: 0
    }
    .asym-item .liste-lien li {

        margin-right: 0px;
    }
    .pos-a {
        position: relative;
       
    }
    .pos-a a {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .asym-item h3 {
        margin-top: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .devtool {
        z-index: 0;
        height: 3000px;
    }
    .devtool-container {
        margin-top: 200px;
        width: 320px;
    }
    .devtool-txt h2 {
        font-size: 25px;

    }
    .devtool-container-asym {
        margin-top: 80px;
        width: 100%
    }
    .devtool img {
        width: 100%;
        width: 320px;
        margin: 0 auto;
    }
    .item-right {
        left: 50%;
    }
    .asym-item p {
        width: 320px;
    }
}
@media screen and (max-width: 450px) {
    .liste-lien {
     width: 100%
    }
    .devtool-container-asym {
         width: 320px;
    }
    .asym-item:nth-child(3) .liste-lien {
        width: 200px;
        margin: 20px auto 0 auto;
    }
 }


/*** section creativity ***/

.creativity {
    width: 100%;
    height: 900px;
    background: #000000;
    color: #ffffff;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

/* text */

.creativity-txt {
    border-right: 1px solid #ffffff;
}
.creativity-txt-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 400px;
}
.creativity h2 {
    font-size: 50px;
}
.creativity p {
    font-size: 20px;
    margin-top: 50px;
    line-height: 30px
}
.creativity a {
    position: relative;
    top: 50px;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;

}
.creativity a span {
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}

/* creativity place flex */

.creativity-container {
    width: 720px;
    height: 650px;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}
.creativity-item {
    width: 337px;
    height: 300px;
}
.creativity-item a p {
    font-size: 16px;
    margin-top: -25px;
}

@media screen and (max-width: 1200px) {
    .creativity {
        width: 100%;
        height: 1900px;
        display: block;
        margin: 0 auto;
    }
    .creativity-txt {
       text-align: center;
    }
    .creativity-txt-container {
       top: 250px;
       border-bottom: 1px solid #ffffff;
    }
    .creativity-container {
        display: block;
        margin-top: 400px;
    }
    .creativity-item {
        margin: 50px auto;
        gap:0
    }
    .creativity-item:nth-child(1) {
        position: relative;
        top: 30px;
    
    }
    .creativity-item a {
        top: 30px;
        text-align: center;
    }

}@media screen and (max-width: 720px) {
    .creativity-container {
        width: 100%;
    }
    .creativity-txt-container {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .creativity {
        height: 1700px;
    }
    .creativity-txt {
        width: 320px;
        border: none;
        margin: 0 auto;
    }
    .creativity-container {
        width: 320px;
        margin-top: 450px;
    }
    .creativity-txt-container {
        margin-top: -50px;
        height: 320px;
        width: 100%;
    }
    .creativity-txt h2 {
        font-size: 35px;
    }
    .creativity-txt p {
        margin: 20px;
        font-size: 15px;
    }
    .creativity-txt a {
        top: 20px;
        font-size: 18px;
    }
    .creativity img {
        width: 320px;
    }
    .creativity-item {
        margin-top: -30px;
        width: 100%
    }
    
}

/*** banière finale ***/

.baniere-finale {
    height: 200px; 
}
.baniere-finale hr {
    margin-top: 50px;

}
.baniere-finale p {
    margin: 50px 0;
    text-align: center;
   
}
